body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-content > * {
  display: inline-block;
  vertical-align: top;
}

.App-content > table {
  width: 78%;
}

.App-content > table td:first-child {
  font-weight: bold;
}

.timestamp {
  font-size: 0.8em;
}

nav {
  width: 20%;
}

nav ul {
  list-style-type: none;
}

footer {
  margin-top: 10%;
  font-size: 0.85em;
}
